<div class="row">
  <div class="col">
    <h2 class="mb-2">The {{ site.title }} Team</h2>    
  </div>
</div>
<div class="row thumbnail-grid mt-5">
    {% for person in site.contributors %}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="media thumbnail-item">
        <img src="{{ person.image }}" class="rounded-circle" alt="Person" />
        <div class="media-body align-self-center">
          <h6><a href="#">{{ person.first_name }} {{ person.last_name }}</a></h6>
        {{ person.content | markdownify }}    
        </div>
      </div>
    </div>
{% endfor %}
</div>

