bin
.mockgen
.cache
.golangci-bin
.coverage/

.DS_Store

# VIM
.*.swp

# Emacs
*~

# Common backup files
*.bak

.idea/
.vscode/
vendor

plugins/grafana-sankey-plugin/node_modules/
plugins/grafana-sankey-plugin/dist/
plugins/grafana-sankey-plugin/coverage/

antrea-test-logs/
ci/cluster-api/aws/default-aws
ci/jenkins/antrea-ubuntu.tar
ci/jenkins/flow-aggregator.tar
jenkins/key
jenkins/out
