#docs {
  .container.container-max {
    max-width: 90%;
    img {
      max-width: 100%;
    }
  }
  table {
    @extend .table;
    @extend .table-striped;
    @extend .table-bordered;
    thead {
      @extend .thead-light;
    }
    td {
      code {
        word-break: keep-all;
      }
    }
  }
  .toc {
    nav {
      ul {
        padding-top: 20px;
        border-top: 1px solid #e3e3e3;
        margin: 10px 0 20px 0;
        li {
          font-size: 1rem;
          margin-bottom: 10px;
        }
      }
    }
  }
  .documentation-container {
    @include media-breakpoint-down(lg) {
      max-width: 100%;
      overflow-x: scroll;
    }
  }
}