<div class="grid-container">
	<div class="wrapper">
		<div class="grid three">
			<div class="card">
				<img src="/img/icon-cloud.svg" />
				<h3>Unified Network Stack</h3>
				<p>Antrea simplifies Kubernetes networking across differing clouds and operating systems with a unified network stack built atop Open vSwitch.</p>
			</div>
			<div class="card">
				<img src="/img/icon-bulb.svg" />
				<h3>Ease of Operations</h3>
				<p>Antrea is designed to ease deployment, operations and troubleshooting by adopting Kubernetes controller patterns and providing diagnostics consumable by tools network operators know and love.</p>
			</div>
			<div class="card">
				<img src="/img/icon-diagram.svg" />
				<h3>Flexibility & Extensibility</h3>
				<p>With the programmability of Open vSwitch under the hood, Antrea can be extended to support advanced network use cases like kernel bypass and network service mesh.</p>
			</div>
		</div>
	</div>
</div>