apiVersion: v1
kind: ConfigMap
metadata:
  namespace: kube-system
  name: coredns
data:
  Corefile: |
    .:53 {
        errors
        health {
           lameduck 5s
        }
        ready
        kubernetes cluster.local in-addr.arpa ip6.arpa {
           pods insecure
           ttl 30
        }
        prometheus :9153
        forward . [{{ k8s_antrea_gw_ip }}]:5353 {
           max_concurrent 1000
        }
        cache 30
        reload
        loadbalance
    }
