apiVersion: kubeadm.k8s.io/v1beta3
kind: InitConfiguration
nodeRegistration:
  name: "{{ node_name }}"
localAPIEndpoint:
  advertiseAddress: "{{ k8s_api_server_ip }}"
{% if kube_proxy_mode == 'none' %}
skipPhases:
- addon/kube-proxy
{% endif %}
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
networking:
  podSubnet: "{{ k8s_pod_network_cidr }}"
  serviceSubnet: "{{ k8s_service_network_cidr }}"
apiServer:
  certSANs:
  - "{{ k8s_api_server_ip }}"
---
{% if kube_proxy_mode != 'none' %}
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "{{ kube_proxy_mode }}"
{% if kube_proxy_ipvs_strict_arp %}
ipvs:
  strictARP: true
{% endif %}
{% endif %}
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
# this is the default starting with v1.22, but we prefer to set it explicitly
cgroupDriver: systemd
