apiVersion: kubeadm.k8s.io/v1beta2
kind: InitConfiguration
nodeRegistration:
  name: "{{ node_name }}"
localAPIEndpoint:
  advertiseAddress: "{{ k8s_api_server_ip }}"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
networking:
  podSubnet: "{{ k8s_pod_network_cidr }}"
  serviceSubnet: "{{ k8s_service_network_cidr }}"
apiServer:
  certSANs:
  - "{{ k8s_api_server_ip }}"
  extraArgs:
    feature-gates: "NetworkPolicyEndPort=true"
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "{{ kube_proxy_mode }}"
{% if kube_proxy_ipvs_strict_arp -%}
ipvs:
  strictARP: true
{% endif %}
