<footer>
	<div class="wrapper footer-links">
		<div class="top-links">
			<ul class="left-links">
				<li><a href="{{ .Site.Params.twitter_url }}"><img src="/img/twitter.png" />Twitter</a></li>
				<li><a href="{{ .Site.Params.github_url }}"><img src="/img/github.svg" />Github</a></li>
				<li><a href="{{ .Site.Params.slack_url }}"><img src="/img/slack.png" /><span class="desktop">#Slack</span><span class="mobile">Slack</span></a></li>
			</ul>
			<div class="right-links">
				<p>
					<span class="copywrite">&copy; {{ now.Year }} Antrea Authors, A <a href="http://vmware.github.io/">VMware-backed project</a>.</span> 
					<a class="image" href="/"><img src="/img/antrea-logo.svg"></a>
				</p>
			</div>
		</div>
	</div>
</footer>