{{ define "main" }}
	<main>
		<div class="hero subpage-hero">
			<div class="wrapper">
				<h1>Who's using Antrea</h1>
			</div>
		</div>
		<div class="wrapper customers">
			<p>Here are just a few of the organizations we know are using Antrea. If you want to edit this page, <a href="https://github.com/smalltalk-ai/antrea/pulls">please send a pull request!</a></p>
			<div class="grid three">
				{{ range .Pages }}
					{{ partial "customer-logo.html" . }}
				{{ end }}
			</div>
		</div>
	</main>
{{ end }}
