name: Build and push latest image

on:
  push:
    branches:
      - master

jobs:
  build:
    if: github.repository == 'vmware-tanzu/antrea'
    runs-on: [ubuntu-18.04]
    steps:
    - uses: actions/checkout@v1
    - name: Build Antrea Docker image and push to registry
      env:
        DOCKER_USERNAME: ${{ secrets.DOCKER_USERNAME }}
        DOCKER_PASSWORD: ${{ secrets.DOCKER_PASSWORD }}
      run: |
        make
        echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
        docker push antrea/antrea-ubuntu:latest
  skip:
    if: github.repository != 'vmware-tanzu/antrea'
    runs-on: [ubuntu-18.04]
    steps:
      - name: Skip
        run: |
          echo "Skipping Antrea image update because workflow cannot be run from fork"
