name: Go
on:
  pull_request:
    branches:
    - master
    - windows
    - release-*
  push:
    branches:
    - master
    - release-*
jobs:


  test-unit:
    name: Unit test
    runs-on: [ubuntu-18.04]
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13

    - name: Check-out code
      uses: actions/checkout@v1

    - name: Run unit tests
      run: make test-unit


  golangci-lint:
    name: Golangci-lint
    runs-on: [ubuntu-18.04]
    steps:
    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13
    - name: Check-out code
      uses: actions/checkout@v1
    - name: Run golangci-lint
      run: make golangci


  bin:
    name: Build Antrea binaries
    runs-on: [ubuntu-18.04]
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13

    - name: Check-out code
      uses: actions/checkout@v1

    - name: Build Antrea binaries
      run: make bin

  antctl:
    name: Build antctl for macOS, Linux and Windows
    runs-on: [ubuntu-18.04]
    steps:

      - name: Set up Go 1.13
        uses: actions/setup-go@v1
        with:
          go-version: 1.13

      - name: Check-out code
        uses: actions/checkout@v1

      - name: Build antctl binaries
        run: make antctl


  codegen:
    name: Check code generation
    runs-on: [ubuntu-18.04]
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13

    - name: Check-out code
      uses: actions/checkout@v1

    - name: Check code generation
      run: ./ci/check-codegen.sh


  manifest:
    name: Check manifest
    runs-on: [ubuntu-18.04]
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13

    - name: Check-out code
      uses: actions/checkout@v1

    - name: Check manifest
      run: ./ci/check-manifest.sh


  tidy:
    name: Check go.mod tidy
    runs-on: [ubuntu-18.04]
    steps:

    - name: Set up Go 1.13
      uses: actions/setup-go@v1
      with:
        go-version: 1.13

    - name: Check-out code
      uses: actions/checkout@v1

    - name: Check tidy
      run: make test-tidy
