name: Go
on:
  pull_request:
    branches:
    - main
    - release-*
  push:
    branches:
    - main
    - release-*

env:
  go-cache-name: go

check-docs-changes:
    name: Check whether tests need to be run based on diff
    runs-on: [ubuntu-latest]
    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0
    - uses: antrea-io/has-changes@v1
      id: check_diff
      with:
        args: docs/* ci/jenkins/* *.md hack/.notableofcontents
    outputs:
      docs_changes: ${{ steps.check_diff.outputs.docs_changes }}
       
jobs:
  needs: check-docs-changes
  if: ${{ needs.check-docs-changes.outputs.docs_changes == 'yes' }}
  test-unit:
    name: Unit test
    strategy:
      matrix:
        os: [ubuntu-latest, windows-2019]
    runs-on: ${{ matrix.os }}
    steps:
    - name: Set up Go 1.17
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Check-out code
      uses: actions/checkout@v3
    - uses: actions/cache@v2
      with:
        # In order:
        # * Module download cache
        # * Build cache (Linux)
        # * Build cache (Mac)
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
          ~/Library/Caches/go-build
          %LocalAppData%\go-build
        key: ${{ runner.os }}-${{ env.go-cache-name }}-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-${{ env.go-cache-name }}-
    - name: Run unit tests
      run: make test-unit
    - name: Codecov
      uses: codecov/codecov-action@v1
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
        file: .coverage/coverage-unit.txt
        flags: unit-tests
        name: codecov-unit-test

  golangci-lint:
    needs: check-docs-changes
    if: ${{ needs.check-docs-changes.outputs.docs_changes == 'yes' }}
    name: Golangci-lint
    strategy:
      matrix:
        platform: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Set up Go 1.17
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Check-out code
      uses: actions/checkout@v3
    - uses: actions/cache@v2
      with:
        # In order:
        # * Module download cache
        # * Build cache (Linux)
        # * Build cache (Mac)
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
          ~/Library/Caches/go-build
          %LocalAppData%\go-build
        key: ${{ runner.os }}-${{ env.go-cache-name }}-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-${{ env.go-cache-name }}-
    - name: Run golangci-lint
      run: make golangci
    - name: Run golangci-lint for netpol
      working-directory: hack/netpol
      run: make golangci

  bin:
    needs: check-docs-changes
    if: ${{ needs.check-docs-changes.outputs.docs_changes == 'yes' }}
    name: Build Antrea and antctl binaries
    runs-on: [ubuntu-latest]
    steps:
    - name: Set up Go 1.17
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Check-out code
      uses: actions/checkout@v3
    - uses: actions/cache@v2
      with:
        # In order:
        # * Module download cache
        # * Build cache (Linux)
        # * Build cache (Mac)
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
          ~/Library/Caches/go-build
          %LocalAppData%\go-build
        key: ${{ runner.os }}-${{ env.go-cache-name }}-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-${{ env.go-cache-name }}-
    - name: Build Antrea binaries for amd64
      run: GOARCH=amd64 make bin
    - name: Build Antrea binaries for arm64
      run: GOARCH=arm64 make bin
    - name: Build Antrea binaries for arm
      run: GOARCH=arm make bin
    - name: Build antctl binaries
      run: make antctl
    - name: Build Multi-cluster binaries
      run: |
        cd multicluster
        make build

  windows-bin:
    needs: check-docs-changes
    if: ${{ needs.check-docs-changes.outputs.docs_changes == 'yes' }}
    name: Build Antrea Windows binaries
    runs-on: [ubuntu-latest]
    steps:
    - name: Set up Go 1.17
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Check-out code
      uses: actions/checkout@v3
    - uses: actions/cache@v2
      with:
        # In order:
        # * Module download cache
        # * Build cache (Linux)
        # * Build cache (Mac)
        path: |
          ~/go/pkg/mod
          ~/.cache/go-build
          ~/Library/Caches/go-build
          %LocalAppData%\go-build
        key: ${{ runner.os }}-${{ env.go-cache-name }}-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-${{ env.go-cache-name }}-
    - name: Build Antrea windows binaries
      run: make windows-bin

  tidy-codegen-manifest:
    needs: check-docs-changes
    if: ${{ needs.check-docs-changes.outputs.docs_changes == 'yes' }}
    name: Check tidy, code generation and manifest
    runs-on: [ubuntu-latest]
    steps:
    - name: Set up Go 1.17
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Check-out code
      uses: actions/checkout@v3
    # tidy check need to be run before code generation which will regenerate codes.
    - name: Check tidy
      run: make test-tidy
    - name: Check code generation
      run: ./ci/check-codegen.sh
    - name: Check manifest
      run: ./ci/check-manifest.sh
    - name: Check copyright
      run: ./ci/check-copyright.sh

  verify:
    name: Verify docs and spelling
    runs-on: [ubuntu-latest]
    steps:
    - name: Set up Go 1.17
      uses: actions/setup-go@v2
      with:
        go-version: 1.17
    - name: Check-out code
      uses: actions/checkout@v3
    - name: Run verify scripts
      run: make verify
    - name: Checking for broken Markdown links
      uses: antoninbas/github-action-markdown-link-check@1.0.9-pre
      with:
        folder-path: './docs'
        file-path: './README.md, ./CHANGELOG.md, ./CONTRIBUTING.md, ./GOVERNANCE.md, ./MAINTAINERS.md, ./ROADMAP.md, ./SECURITY.md'
        config-file: 'hack/.md_links_config.json'
    - name: Markdownlint
      run: |
        sudo npm install -g markdownlint-cli@0.31.1
        make markdownlint

  benchmark:
    needs: check-docs-changes
    if: ${{ needs.check-docs-changes.outputs.docs_changes == 'yes' }}
    name: Go benchmark test
    runs-on: [ubuntu-latest]
    steps:
      - name: Set up Go 1.17
        uses: actions/setup-go@v2
        with:
          go-version: 1.17
      - name: Check-out code
        uses: actions/checkout@v3
      - name: Run Go benchmark test
        run: go test -run '^$' -bench . -benchtime 1x -timeout 10m -cpu 4 -v -benchmem ./pkg/...
