name: "Issues and PRs lifecycle management"
on:
  schedule:
    # every day at midnight
    - cron: "0 0 * * *"

jobs:
  stale:
    if: github.repository == 'antrea-io/antrea'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v10
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          stale-issue-message: 'This issue is stale because it has been open 90 days with no activity. Remove stale label or comment, or this will be closed in 90 days. You can add a label "lifecycle/frozen" to skip stale checking.'
          stale-pr-message: 'This PR is stale because it has been open 90 days with no activity. Remove stale label or comment, or this will be closed in 90 days. You can add a label "lifecycle/frozen" to skip stale checking.'
          stale-issue-label: 'lifecycle/stale'
          stale-pr-label: 'lifecycle/stale'
          days-before-stale: 90
          days-before-close: 90
          exempt-issue-labels: 'lifecycle/frozen,priority/important-longterm,priority/important-soon,reported-by/end-user'
          exempt-pr-labels: 'lifecycle/frozen'
          remove-stale-when-updated: true
          debug-only: false
          operations-per-run: 200
  skip:
    if: github.repository != 'antrea-io/antrea'
    runs-on: ubuntu-latest
    steps:
      - name: Skip
        run: |
          echo "Skipping lifecyle management because workflow cannot be run from fork"
